h1 {
	font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}

body {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 18px;
	}
	
	.cols{
		display: block;
		margin: 0;
	}

	.rows{
		width: 130px;
		height: 50px;
		display: table-cell;
		border: none;
		margin: 0;
		font-size: 12px;
		text-align: center;
		vertical-align: middle;
	}

	.summary{
		align-self: auto;
		align-self: center;
		align-content: center;
	}

	#displays, #qrcode {
		display: none;
		text-align: -webkit-center;
	}
		
	#nplayer, #countdown {
		font-size: 30px;	
	}

	#text30px {
		font-size: 30px;	
	}

	#nlast {
		font-size: 250px;	
	}